<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A user would like to subscribe to your mailing list.</h1>
    <p>
    		Name: <%= @subscription.name %><br/>
        Email: <%= @subscription.email %>
  			

    </p>
    <p>
    </p>
    <p>From your iPhone App :)</p>
  </body>
</html>